{% extends 'base1.html' %}
{% load static %}

{% block title %}Greeny - Change Password{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
{% endblock css %}

{% block section %}
        <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                      <div class="user-form-logo">
                          <a href="{% url 'pages:index' %}"><img src="{{ company_info.logo.url }}" alt="logo"></a>
                      </div>
                      <div class="user-form-card">
                          <div class="user-form-title">
                              <h2>any issue?</h2>
                              <p>Make sure your current password is strong</p>
                          </div>
                          <form method="post" class="user-form">
                                {% csrf_token %}
                                {% if form.errors %}
                                <div class="form-errors">
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    {{ form.old_password }}
                                </div>
                                <div class="form-group">
                                    {{ form.new_password1 }}
                                </div>
                                <div class="form-group">
                                    {{ form.new_password2 }}
                                </div>
                                <div class="form-button">
                                    <button type="submit">change password</button>
                                </div>
                          </form>
                      </div>
                      <div class="user-form-remind">
                          <p>Go Back To<a href="{% url 'accounts:sign_in' %}">login here</a></p>
                      </div>
                      <div class="user-form-footer">
                          <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!--=====================================
                  USER FORM PART END
      =======================================-->
{% endblock section %}