{% extends 'base1.html' %}
{% load static %}

{% block title %}Greeny - Change Done{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/user-auth.css' %}">
{% endblock css %}

{% block section %}
  <section class="user-form-part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="user-form-logo">
                    <a href="{% url 'pages:index' %}"><img src="{{ company_info.logo.url }}" alt="logo"></a>
                </div>
                <div class="user-form-card">
                    <div class="user-form-title">
                        <h2>Password Change Successful</h2>
                        <p>Your password has been successfully changed.</p>
                    </div>
                </div>
                <div class="user-form-remind">
                    <p><a href="{% url 'accounts:sign_in' %}">Log In</a></p>
                  </div>
                <div class="user-form-footer">
                    <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock section %}