{% extends 'base1.html' %}
{% load static %}

{% block title %}Standard Home - Greeny{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home-standard.css' %}">
{% endblock css %}

{% block content %}

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="banner-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="banner-category">
                            <div class="banner-category-head">
                                <i class="fas fa-bars"></i>
                                <span>top categories</span>
                            </div>
                            <ul class="banner-category-list">
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-vegetable"></i>
                                        <span>vegetables</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>vegetables item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">carrot</a></li>
                                                <li><a href="#">broccoli</a></li>
                                                <li><a href="#">asparagus</a></li>
                                                <li><a href="#">cauliflower</a></li>
                                                <li><a href="#">cucumber</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">eggplant</a></li>
                                                <li><a href="#">green pepper</a></li>
                                                <li><a href="#">lettuce</a></li>
                                                <li><a href="#">mushrooms</a></li>
                                                <li><a href="#">onion</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">potato</a></li>
                                                <li><a href="#">pumpkin</a></li>
                                                <li><a href="#">tomato</a></li>
                                                <li><a href="#">beetroot</a></li>
                                                <li><a href="#">zucchini</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">radish</a></li>
                                                <li><a href="#">artichoke</a></li>
                                                <li><a href="#">cabbage</a></li>
                                                <li><a href="#">celery</a></li>
                                                <li><a href="#">parsley</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-groceries"></i>
                                        <span>groceries</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>groceries item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Butter</a></li>
                                                <li><a href="#">Rice</a></li>
                                                <li><a href="#">Bread</a></li>
                                                <li><a href="#">Pasta</a></li>
                                                <li><a href="#">Cooking oil</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">Cheese</a></li>
                                                <li><a href="#">Yogurt</a></li>
                                                <li><a href="#">Onions</a></li>
                                                <li><a href="#">Garlic</a></li>
                                                <li><a href="#">Pulses</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">Soup</a></li>
                                                <li><a href="#">Salt</a></li>
                                                <li><a href="#">Pepper</a></li>
                                                <li><a href="#">Herbs</a></li>
                                                <li><a href="#">Sugar</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-fruit"></i>
                                        <span>fruits</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>fruits item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Apple</a></li>
                                                <li><a href="#">Orange</a></li>
                                                <li><a href="#">Watermelon</a></li>
                                                <li><a href="#">Pear</a></li>
                                                <li><a href="#">Cherry</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="#">Strawberry</a></li>
                                                <li><a href="#">Nectarine</a></li>
                                                <li><a href="#">Grape</a></li>
                                                <li><a href="#">Mango</a></li>
                                                <li><a href="#">Blueberry</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-dairy-products"></i>
                                        <span>dairy farms</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>dairy items</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Eggs</a></li>
                                                <li><a href="#">milk</a></li>
                                                <li><a href="#">Cheese</a></li>
                                                <li><a href="#">Butter</a></li>
                                                <li><a href="#">Shore</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-crab"></i>
                                        <span>sea foods</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>sea food items</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Lobster</a></li>
                                                <li><a href="#">Octopus</a></li>
                                                <li><a href="#">Shrimp</a></li>
                                                <li><a href="#">Oyster</a></li>
                                                <li><a href="#">Squid</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-salad"></i>
                                        <span>diet foods</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>diet food items</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Peanuts</a></li>
                                                <li><a href="#">Yogurt</a></li>
                                                <li><a href="#">vinegar</a></li>
                                                <li><a href="#">seeds</a></li>
                                                <li><a href="#">Coconuts</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-dried-fruit"></i>
                                        <span>dry foods</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>dry food items</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Almond</a></li>
                                                <li><a href="#">Peanut</a></li>
                                                <li><a href="#">Raisin</a></li>
                                                <li><a href="#">Walnut</a></li>
                                                <li><a href="#">Pistachio</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-fast-food"></i>
                                        <span>fast foods</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>fast food items</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">burgar</a></li>
                                                <li><a href="#">pizza</a></li>
                                                <li><a href="#">Fries</a></li>
                                                <li><a href="#">chiken</a></li>
                                                <li><a href="#">dessert</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-cheers"></i>
                                        <span>drinks</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>drinks item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Wine</a></li>
                                                <li><a href="#">Coffee</a></li>
                                                <li><a href="#">Lemonade</a></li>
                                                <li><a href="#">chocolate</a></li>
                                                <li><a href="#">Milkshake</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-barbecue"></i>
                                        <span>meats</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>meats item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Pork</a></li>
                                                <li><a href="#">Beef</a></li>
                                                <li><a href="#">Mutton</a></li>
                                                <li><a href="#">Chicken</a></li>
                                                <li><a href="#">Turkey</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="banner-category-item">
                                    <a href="#">
                                        <i class="flaticon-fish"></i>
                                        <span>fishes</span>
                                    </a>
                                    <div class="banner-category-dropdown">
                                        <h5>fishes item</h5>
                                        <div class="banner-sub-category">
                                            <ul>
                                                <li><a href="#">Blue Marlin</a></li>
                                                <li><a href="#">Flounder</a></li>
                                                <li><a href="#">Hogfish</a></li>
                                                <li><a href="#">Mako Shark</a></li>
                                                <li><a href="#">pompano</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="home-grid-slider slider-dots">
                                    <div class="banner-wrap bg1">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-content">
                                                    <h2>we are delivered organic foods item within 24 hours.</h2>
                                                    <a href="#" class="btn btn-inline">
                                                        <i class="fas fa-shopping-basket"></i>
                                                        <span>shop now</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-image">
                                                    <img src="{% static 'images/home/index/01.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-wrap bg2">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-content">
                                                    <h2>get your organic healthy foods item online today.</h2>
                                                    <a href="#" class="btn btn-inline">
                                                        <i class="fas fa-shopping-basket"></i>
                                                        <span>shop now</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-image">
                                                    <img src="{% static 'images/home/index/02.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="banner-wrap bg3">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-content">
                                                    <h2>we are delivered organic foods item within 24 hours.</h2>
                                                    <a href="#" class="btn btn-inline">
                                                        <i class="fas fa-shopping-basket"></i>
                                                        <span>shop now</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-6">
                                                <div class="banner-image">
                                                    <img src="{% static 'images/home/index/03.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="banner-promo">
                                    <a href="#"><img src="{% static 'images/promo/home/04.jpg' %}" alt="promo"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="banner-promo">
                                    <a href="#"><img src="{% static 'images/promo/home/05.jpg' %}" alt="promo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->

        {% with show_intro=False %}
        {% if show_intro %}
        {% block intro_classic %}
        {% endblock intro_classic %}
        {% else %}
        {% block intro %}
        <!--=====================================
                    INTRO PART START
        =======================================-->
        <section class="section intro-part">
            <div class="container">
                <div class="row intro-content">
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon">
                                <i class="fas fa-truck"></i>
                            </div>
                            <div class="intro-content">
                                <h5>free home delivery</h5>
                                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon">
                                <i class="fas fa-sync-alt"></i>
                            </div>
                            <div class="intro-content">
                                <h5>instant return policy</h5>
                                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon">
                                <i class="fas fa-headset"></i>
                            </div>
                            <div class="intro-content">
                                <h5>quick support system</h5>
                                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="intro-wrap">
                            <div class="intro-icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="intro-content">
                                <h5>secure payment way</h5>
                                <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    INTRO PART END
        =======================================-->
        {% endblock intro %}
        {% endif %}
        {% endwith %}


        {% with show_classic=False %}
        {% if show_classic %}
        {% block classic %}
        {% endblock classic %}
        {% else %}
        {% block cls %}
        <!--=====================================
                    DEALS PART START
        =======================================-->
        <section class="section deals-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <h2>best deals on items</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="countdown deals-clock" data-countdown="2021/12/31">
                            <span class="countdown-time"><span>00</span><small>days</small></span>
                            <span class="countdown-time"><span>00</span><small>hours</small></span>
                            <span class="countdown-time"><span>00</span><small>minutes</small></span>
                            <span class="countdown-time"><span>00</span><small>seconds</small></span>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4">
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-10%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/01.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/piece</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-5%</label>
                                    <label class="label-text new">new</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/02.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/kilo</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-20%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/03.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/dozen</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-35%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/04.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/4 piece</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-15%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/05.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/kilo</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-18%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/06.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/12 piece</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-30%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/07.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/piece</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="product-card">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text off">-25%</label>
                                </div>
                                <button class="product-wish wish">
                                    <i class="fas fa-heart"></i>
                                </button>
                                <a class="product-image" href="product-video.html">
                                    <img src="{% static 'images/product/08.jpg' %}" alt="product">
                                </a>
                                <div class="product-widget">
                                    <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                    <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                    <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="active icofont-star"></i>
                                    <i class="icofont-star"></i>
                                    <a href="product-video.html">(3)</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="product-video.html">fresh green chilis</a>
                                </h6>
                                <h6 class="product-price">
                                    <del>$34</del>
                                    <span>$28<small>/6 piece</small></span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-25">
                            <a href="shop-4column.html" class="btn btn-inline">
                                <i class="fas fa-eye"></i>
                            <span>view all deals</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    DEALS PART END
        =======================================-->
        {% endblock cls %}
        {% endif %}
        {% endwith %}

{% endblock content %}

{% block Blueberry %}
        <!--=====================================
                    PROMO PART START
        =======================================-->
        <section class="section promo-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="promo-content" style="background: url({% static 'images/promo/home/09.jpg' %}) no-repeat center;">
                            <h3>only <span>$45</span> per kilogram</h3>
                            <h2>fresh Blueberries</h2>
                            <a href="shop-4column.html" class="btn btn-inline">
                                <i class="fas fa-shopping-basket"></i>
                                <span>shop now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    PROMO PART END
        =======================================-->
{% endblock Blueberry %}

{% with show_count=False %}
{% if show_count %}
{% block count_classic %}
{% endblock count_classic %}
{% endif %}
{% endwith %}


{% with show_promo=False %}
{% if show_promo %}
{% block promo_classic %}
{% endblock promo_classic %}
{% endif %}
{% endwith %}

{% block cat_classic %}
        <!--=====================================
                    CATEGORY PART START
        =======================================-->
        <section class="section category-part">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>shop by categories</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="category-slider slider-arrow">
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/dairy.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>dairy items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/vegetables.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>vegetable items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/drinks.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>coffe & drinks</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/fish.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>fish items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/groceries.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>grocery items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                            <div class="category-wrap">
                                <div class="category-media">
                                    <img src="{% static 'images/category/meat.jpg' %}" alt="category">
                                    <div class="category-overlay">
                                        <a href="shop-4column.html"><i class="fas fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="category-meta">
                                    <h4>meat items</h4>
                                    <p>(25 items)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-50">
                            <a href="all-category.html" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>view all category</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    CATEGORY PART END
        =======================================-->
{% endblock cat_classic %}