{% extends 'base1.html' %}
{% load static %}

{% block title %}Grid Home - Greeny{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home-grid.css' %}">
{% endblock css %}

{% block content %}

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="banner-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 order-1 order-lg-0 order-xl-0">
                        <div class="row">
                            <div class="col-sm-6 col-lg-12">
                                <div class="home-grid-promo">
                                    <a href="#"><img src="{% static 'images/promo/home/01.jpg' %}" alt="promo"></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-12">
                                <div class="home-grid-promo">
                                    <a href="#"><img src="{% static 'images/promo/home/02.jpg' %}" alt="promo"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-0 order-lg-1 order-xl-1">
                        <div class="home-grid-slider slider-arrow slider-dots">
                            <a href="#"><img src="{% static 'images/home/grid/01.jpg' %}" alt=""></a>
                            <a href="#"><img src="{% static 'images/home/grid/02.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->

        <!--=====================================
                    SUGGEST PART START
        =======================================-->
        <section class="section suggest-part">
            <div class="container">
                <ul class="suggest-slider slider-arrow">
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/01.jpg' %}" alt="suggest">
                            <h5>vegetables <span>34 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/02.jpg' %}" alt="suggest">
                            <h5>fruits <span>89 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/03.jpg' %}" alt="suggest">
                            <h5>groceries <span>45 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/04.jpg' %}" alt="suggest">
                            <h5>dairy farm <span>83 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/05.jpg' %}" alt="suggest">
                            <h5>sea foods <span>40 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/06.jpg' %}" alt="suggest">
                            <h5>vegan foods <span>57 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/07.jpg' %}" alt="suggest">
                            <h5>dry foods <span>23 items</span></h5>
                        </a>
                    </li>
                    <li>
                        <a class="suggest-card" href="shop-4column.html">
                            <img src="{% static 'images/suggest/08.jpg' %}" alt="suggest">
                            <h5>fast foods <span>97 items</span></h5>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!--=====================================
                    SUGGEST PART END
        =======================================-->

{% endblock content %}