{% extends 'base2.html' %}
{% load static %}

{% block title %}Greeny - All Categories{% endblock title%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/all-category.css' %}">
{% endblock css %}

{% block content %}
        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url({% static 'images/single-banner.jpg' %}) no-repeat center;">
            <div class="container">
                <h2>all category</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">all-category</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    CATEGORY PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-filter">
                            <div class="filter-show">
                                <label class="filter-label">Show :</label>
                                <select class="form-select filter-select">
                                    <option value="1">12</option>
                                    <option value="2">24</option>
                                    <option value="3">36</option>
                                </select>
                            </div>
                            <div class="filter-short">
                                <label class="filter-label">Short by :</label>
                                <select class="form-select filter-select">
                                    <option selected>default</option>
                                    <option value="3">trending</option>
                                    <option value="1">featured</option>
                                    <option value="2">recommend</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center">
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/dairy.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>dairy items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/vegetables.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>vegetable items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/drinks.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>coffe & drinks</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fish.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fish items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/groceries.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>grocery items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/meat.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>meat items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fruits.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fresh fruits</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/seafoods.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>seafoods</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fastfoods.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fastfoods</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/dairy.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>dairy items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/vegetables.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>vegetable items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/drinks.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>coffe & drinks</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fish.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fish items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/groceries.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>grocery items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/meat.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>meat items</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fruits.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fresh fruits</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/seafoods.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>seafoods</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fastfoods.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fastfoods</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="category-wrap">
                            <div class="category-media">
                                <img src="{% static 'images/category/fastfoods.jpg' %}" alt="category">
                                <div class="category-overlay">
                                    <a href="shop-3column.html"><i class="fas fa-link"></i></a>
                                </div>
                            </div>
                            <div class="category-meta">
                                <h4>fastfoods</h4>
                                <p>(25 items)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bottom-paginate">
                            <p class="page-info">Showing 12 of 60 Results</p>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">...</li>
                                <li class="page-item"><a class="page-link" href="#">60</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    CATEGORY PART END
        =======================================-->
{% endblock content %}